
/* Adding our fonts to the repourtoire */
@font-face {
	font-family: OS-regular;
	src: url(OpenSans-Regular.ttf);
}

@font-face {
	font-family: OS-semibold;
	src: url(OpenSans-SemiBold.ttf);
}

@font-face {
	font-family: OS-bold;
	src: url(OpenSans-Bold.ttf);
}

html, #logoheader {
	background-color: #DFE2D2;
}

body {
	font-family: OS-regular;
	color:       #576563;
	background-color: #DFE2D2;
}

#preheader {
	height: 40px;
	background-color: #576563;
}

.logoheader {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
}



.buttonspace {
	height: 120px;
}

.centerzoom {
	width: 100%;
	min-width: 330px;
	min-height: 225px;
	object-fit: cover;
}

.productzoom {
	width: 100%;
	min-width: 330px;
	min-height: 225px;
	object-fit: cover;
	padding-bottom: 40px;
	padding-left: 20%;
	padding-right: 20%;
}


h1 {
	font-family: OS-semibold;
	font-size:   30px;
	color:       #DFE2D2;
}

h2 {
	font-family: OS-bold;
	font-size:   36px;
	color:       #576563;
}

h3 {
	font-family: OS-bold;
	font-size:   24px;
	color:       #576563;
}

p {
	font-family: OS-regular;
	font-size:   21px;
	color:       #576563;
	text-align:  justify;
}

.p-light{
	font-family: OS-regular;
	font-size: 21px;
	color: #DFE2D2;
	text-align: justify;
}

.h2-light{
	font-family: OS-bold;
	color: #DFE2D2;
	font-size: 36px;
}

.h3-light{
	font-family: OS-bold;
	color:#DFE2D2;
	font-size: 24px; 
}

.navbar {
	border: 1px solid #576563;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
}

.bg-dark {
	background-color: #576563;
}

.darkpadding {
	padding-top: 2%;
}

.bg-light {
	background-color: #DFE2D2;
}

.navbar .navbar-collapse {
	text-align: center;
	background-color: #576563;
}

.max-wh {
	width: 100%;
	height: 100%;
}

.max-w {
	width: 100%;
}

.max-h {
	height: 100%;
}

.social-img {
	height: 50px;
	float: right;
	border: solid transparent 5px;
}

.first-social-img {
	height: 50px;
	float: right;
	border-left: solid transparent 5px;
	border-right: solid transparent 0px;
	border-top: solid transparent 5px;
	border-bottom: solid transparent 5px;
}

.footercontainer {
	background-color: #576563;
	height: 52px;
	width: 100%;
}


#tab-head{
	background-color: #74BC7C;
	text-align: center;
	color: #E7E8DA;
}

#img-unilogos{
	height: 180px;
	width: 100%;
	display: flex;
	margin-top: 5%;
	margin-bottom: 5%;
}

.angebote-logos .angebote-table {
	max-height: 200px;
}

.angebote-sector {
	padding-bottom: 25px;
}


table{
	border-collapse: collapse;
	font-family: OS-regular;
	background-color: #DFE2D2;
	color: #576563;	
}

table, th, td {
	border: 1px solid rgb(110, 105, 105);
	border-color: white;
	font-size: 21px;
	padding: 5px;
}

th {
	font-weight: bold;
}


#formular-head{
	text-align: center;
}


input, label {
	display:block;
}

#inputPlz{
	width: 80px;
}

.formular input{
	border: solid black 2px;
	border-radius: 0px;
}
.formular label{
	color: #576563;
}

form{
	margin-top: 30px;
}

#form-blank{
	background-color: #5E6966
}

#form-textarea{
	border: solid 2px black; 
	border-radius: 0px;
}

#accept-form{
	text-align: justify;
}


textarea {
	display: block;
	margin-left: auto;
	margin-right: auto;
	resize: vertical;
}


.form-submit{
	border-radius: 0px;
	background-color: #74BC7C;
	border: none;

}

.form-submit:visited, .btn.btn-primary:active,.form-submit:hover{
	background-color: #4b9b54;
}

.form-submit:focus{
	background-color: #74BC7C;
}

input:valid{
	color: #74BC7C;
}

@media only screen and (min-width: 2200px) {

	.productzoom {
		padding-left: 25%;
		padding-right: 25%;
	}
}

@media only screen and (max-width: 1500px) {

	.productzoom {
		padding-left: 15%;
		padding-right: 15%;
	}
}

@media only screen and (max-width: 1000px) {

	table, th, td {
		font-size: 15px;
	}

	.productzoom {
		padding-left: 5%;
		padding-right: 5%;
	}

}


@media only screen and (max-width: 805px) {

	#preheader {
		height: 20px;
		background-color: #576563;
	}

	.logoheader {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 75%;
	}

	.social-img {
		height: 50px;
		float: left;
		border: solid transparent 5px;
	}

	.first-social-img {
		height: 50px;
		float: left;
		border-left: solid transparent 0px;
		border-right: solid transparent 5px;
		border-top: solid transparent 5px;
		border-bottom: solid transparent 5px;
	}

	h1 {
		font-size:   26px;
	}

	h2 {
		font-size:   32px;
	}

	h3 {
		font-size:   23px;
	}

	p {
		font-size:   15px;
	}

	.p-light {
		font-family: OS-regular;
		font-size: 15px;
		color: #DFE2D2;
		text-align: justify;
	}

	.h2-light {
		font-family: OS-bold;
		color: #DFE2D2;
		font-size: 23px;
	}

	.h3-light {
		font-family: OS-bold;
		color:#DFE2D2;
		font-size: 23px; 
	}

	table, th, td {
		font-size: 13px;
	}

}

@media only screen and (max-width: 500px) {

	.productzoom {
		width: 100%;
		min-width: 100%;
		min-height: 100%;
	}
	
}

@media only screen and (max-width: 339px) {

	.centerzoom {
		width: 100%;
		min-width: 100%;
		min-height: 100%;
	}
	
}